<%- include("layouts/boilerplate.ejs") %>

<div class="container mt-5 text-center">
    <h1>Welcome to <strong>Wanderlust !</strong> </h1>
    <p class="lead">Find your next adventure!</p>
    <a href="/listings" class="btn btn-primary mt-3">Browse Listings</a>
</div>
